
@{
    ViewBag.Title = "AcReport";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>AcReport</h2>
<div id="load"></div>
<style>
    .table td {
        padding: 5px;
        vertical-align: middle;
        font-size: 12px !important;
    }

    .table th {
        font-weight: 500;
        font-size: 13px !important;
    }
</style>
<div class="row">


    <div class="col-md-12">
        <div class="col-md-3">
            <label>Vehicles </label><br /> <select class="form-control" id="ddlvehicles">
                <option value="0">-Select Vehicle-</option>
                @foreach (var item in ViewBag.vehicles)
            {
                    <option value="@item.DEVICE_ID">@item.DEVICE_NAME</option>
                }
            </select>

        </div>

        <div class="col-md-3">
            <label>Start Date </label><br/>
            <input type="text" id="txtstartdate" placeholder="Select StartDate" class="form-control" />
        </div>

        <div class="col-md-3">
            <label> End Date </label><br />
            <input type="text" id="txtenddate" placeholder="Select EndDate" class="form-control" />
        </div>

        <div class="col-md-3">
            <input type="button" style="margin-top:32px" class="btn btn-primary" value="Search" onclick="Search()" />
        </div>

    </div>
</div>
<div class="card card-box" style="margin-top:5px;">
    <div class="card-body">
        <div style="margin-top:20px">
            <table id="tbldashboardreport" border="1"  style="font-size:13px;width: 100%;overflow-x:auto;" class="table table-striped table-bordered">
                <thead>
                    <tr id="trdashboard"></tr>
                </thead>
                <tbody id="tbodydashboard"></tbody>
            </table>

        </div>
    </div>
</div>
<script>
    window.onload = function () {

        $("#load").hide();

        if ($("#hiddenvalue").val() == "Ignition" ) {

            $("#tbldashboardreport").css('display', 'none');
            $("#tblviolation").css('display', 'block');
        }
        if ($("#hiddenvalue").val() == "VehicleDetails") {
            GetallVehicleDetailedReport();
        }

        $("#ddlvehicles").select3();
        $('#txtstartdate').bootstrapMaterialDatePicker
             ({
                 shortTime: true,
                 format: 'MM/DD/YYYY hh:mm A ',
                 switchOnClick: true,
                 twelvehour: true

             });
        $('#txtenddate').bootstrapMaterialDatePicker
           ({
               shortTime: true,
               format: 'MM/DD/YYYY hh:mm A ',
               switchOnClick: true,
               twelvehour: true

           });
        curentdateandtime();
        var dt = new Date();
        if ($("#hiddenvalue").val() == "Dashboard") {

           // Getall();
        }

    }

    function curentdateandtime() {
        var date = new Date();
        var dd = date.getDate();
        var mm = date.getMonth() + 1;
        var yy = date.getFullYear();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;

        var strTime = hours + ':' + minutes + ' ' + ampm;

        var fdt = mm + "/" + dd + "/" + yy + " " + hours + ":" + minutes + " " + ampm;
        $('#txtenddate').val(fdt);
        if (dd == "1" || dd == "01") {

        }
        else {
            dd = (dd - 1);
        }
        var sdt = mm + "/" + dd + "/" + yy + " " + hours + ":" + minutes + " " + ampm;
        $('#txtstartdate').val(sdt);
    }


    function Search() {
        if ($("#ddlvehicles").val() != '0')
        {
            $("#load").show();
       // $("#load").show();
            $.post("/Reports/_acreport", { "VNO": $("#ddlvehicles").val(), "startdate": $("#txtstartdate").val(), "Enddate": $("#txtenddate").val() }, function (data) {
           // $("#load").hide();
            if ($.fn.dataTable.isDataTable('#tbldashboardreport')) {
                $('#tbldashboardreport').DataTable().destroy();
            }
        //    $('#tbldashboardreport tbody').remove();
            var thead = "<th>S.No</th><th>veh_num</th><th>STARTDT</th><th>ENDDT</th><th>TIMEDIFF</th><th>STATUS</th><th>LNDMKADD</th>";
            $("#trdashboard").empty();
            $("#trdashboard").append(thead);
     //   $('#tbldashboardreport tbody').remove();


            if ($.fn.dataTable.isDataTable('#tbldashboardreport')) {
                $('#tbldashboardreport').DataTable().destroy();
            }
           $('#tbldashboardreport tbody').remove();
            
            var dataT = data['Report'];
            for (var i = 0; i < dataT.length; i++) {
                tr = $('<tr />');
                tr.append("<td>" + (i + 1) + "</td>");
                tr.append("<td>" + (dataT[i].VNO) + "</td>");
                tr.append("<td>" + (dataT[i].startdate) + "</td>");
                tr.append("<td>" + (dataT[i].Enddate) + "</td>");
                tr.append("<td>" + (dataT[i].Timediff) + "</td>");
                tr.append("<td>" + (dataT[i].status) + "</td>");
                tr.append("<td>" + (dataT[i].Lndmkadd) + "</td>");
               

                $("#tbldashboardreport").append(tr);
            }
            $('#tbldashboardreport').DataTable({
                dom: 'Bfrtip',
                "paging": false,
                "scrollX": true,
                buttons: [
                    //'copy', 'csv', 'excel', 'pdf', 'print'
                    'excel', 'pdf', 'print'
                ]
            });
            $("#load").hide();
        });
        }
        else {
            alert("select vehicle number..");
        }
    }
</script>

