<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PRAGATIVTSMVC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
<!--//141 PROD1-->
    <!--Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCLQOZCWJCgdbGhTWCzxCZGL4CY+O3mKqzXfd60oum+YaATXejNpf60UccZw/xfz9gbvinLUYnP6shgdIMQicpZqyJMAysRhs0NPugSf85OK8=-->
  
    <!--pre prod-->
    <!--<add name="connection_tc" connectionString="Aor2T0SveXPKBbMcC7tSjthAI++qzMZOHMNJCD+lKzdhLzXFjqkhqt6wptSCvDYLM3Fvh9Akj63fW1Z+Pe4ImmMiLUmwm8Bng6qht1Tr44G1pWVuP1Ndgg==" providerName="Sqlserver" />-->
    <!--Live tc-->
    <add name="connection_tc_old" connectionString="Aor2T0SveXPKBbMcC7tSjrv+vNImP9nNHMNJCD+lKzdhLzXFjqkhqt6wptSCvDYLM3Fvh9Akj63znBz47OI45T+I00H+mKDZtnMOdeZlpCzckukpOKqMbXjlktkV49jJ" providerName="Sqlserver" />
    
    <add name="connection_tc" connectionString="ckPgJrmbUgSf9YSJp/zoqwPzCa1H4yKyCO3kuQBZD4ERgj7XUvgqGS26i0aJ47C+CjP1XhFdu8dgrfg/0Xw6ssn3+J44T7eBea2gC8iO9k3wuxjFO6a55AAZlkguF/uiI15Bs/dDX779qXBXVSItKHDBlEzwyNEp6kZWRYAn2Ze1cV59FOGM6asFewEkm4zJ9SgAesNr6Oxa1UvRdk4l4/PIjgP4cMy/CYLKZxRH4Ame7PH7CmVaHGuYEdUoorToF7EZr1mnljjcieKRWBvcdQ==" providerName="Sqlserver" />
   
    <!--Preprod connections-->
<add name="connection_test" connectionString="Aor2T0SveXPKBbMcC7tSjthAI++qzMZOMtkDjeimINYnX23VBtrCYA1FOffn7oSvqAsa5FFYMvpDrJvZy/RViiNeQbP3Q1++hzGV68j1iF1EgWFa8usuKw==" providerName="Sqlserver" />
  <add name="connection_prod_test" connectionString="Aor2T0SveXPKBbMcC7tSjthAI++qzMZOMtkDjeimINYnX23VBtrCYEG2tZkQKsyW/89syeJQD0rfW1Z+Pe4ImmMiLUmwm8Bng6qht1Tr44G1pWVuP1Ndgg==" providerName="Sqlserver" />
    
    <!--Live connections-->
<add name="connection_AZURE" connectionString="Aor2T0SveXOw5XtvNx4VAMSWTOYlBHN8uYo7t//OTjOVigShT7SIO2EvNcWOqSGqAR3KBAuBpXRNLIcpGQ/re/C7GMU7prnkxklYuLic1uueX80nysytWMZAhRCYdEKdvc+t67BcSPM=" providerName="Sqlserver" />
    <add name="connection_prOD_AZURE" connectionString="Aor2T0SveXOw5XtvNx4VAMSWTOYlBHN8uYo7t//OTjOVigShT7SIO2EvNcWOqSGqGM+ZVQ8G9OqVtB4N6+QkGL6TkANoyOPP5MwUSViWuoFpAXLNYFzkf52SC0QMNMdKMYCZ4D7uZIaRE6Vlzd/HrA==" providerName="Sqlserver" />


    <!--Live connections-->
    <add name="connection_extreme" connectionString="Aor2T0SveXMln+rhlrY7olfLZtkikPBTYS81xY6pIaoBHcoEC4GldE0shykZD+t78LsYxTumueTGSVi4uJzW655fzSfKzK1YxkCFEJh0Qp29z63rsFxI8w==" providerName="Sqlserver" />
    <add name="connection_prod_extreme" connectionString="Aor2T0SveXMln+rhlrY7olfLZtkikPBTYS81xY6pIaoBHcoEC4GldE0shykZD+t78LsYxTumueTGSVi4uJzW655fzSfKzK1YxkCFEJh0Qp29z63rsFxI8w==" providerName="Sqlserver" />


    <!--Live connections with ip-->
    <add name="connection" connectionString="Aor2T0SveXN3Qx99ow3pJdxI6ruR88McJyyA+m2RzQ7GhTWCzxCZGL4CY+O3mKqzobRHnnLRamzznBz47OI45SxOTiOPClyG42EenC00k95EUPU5t97snstl7abOmXhk" providerName="Sqlserver" />
    <add name="connection_prod" connectionString="Aor2T0SveXN3Qx99ow3pJdxI6ruR88McJyyA+m2RzQ7GhTWCzxCZGIf5D1n4CCQUJxaM2lG1Dw54Ew7+Lt094KFUqE9WKmftI15Bs/dDX74J5+Uak0lGlaJEX9NVCHgn" providerName="Sqlserver" />




    <!--PROD6 CONNECTIONSTRING-->
    <add name="PROD6" connectionString="Aor2T0SveXN3Qx99ow3pJdxI6ruR88McJyyA+m2RzQ7GhTWCzxCZGIf5D1n4CCQUJxaM2lG1Dw54Ew7+Lt094KFUqE9WKmftI15Bs/dDX74J5+Uak0lGlaJEX9NVCHgn" providerName="Sqlserver" />
    
    <!--<add name="connection_config" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7INqYwDzG8y9f9e01ITgvvZPGOhbP2e/AY7ysW3wR0wazvhQR/jjqFqmNsMmMZYk5g=="
      providerName="Sqlserver" />
    <add name="connection_config1" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7INqYwDzG8y9OlKS9lvdDSSATXejNpf60f3d8RqQ12jwDvkyWkGknpn/XulZ5j24zA=="
      providerName="Sqlserver" />
    <add name="connection_test" connectionString="Aor2T0SveXPKBbMcC7tSjp0AM4ITku7CgMpqp41E3gjlDZl5cNXF7NhYS4oY2ZnHfrULoXu+JXBPGOhbP2e/AReT1LW5ykzesCteHjCLJ+AvvncXZ/VL2Xgk9xknyRzBxT5v7SCLHyc="
      providerName="Sqlserver" />
    <add name="Exel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES;IMEX=0\'" />
    <add name="Exel07plusConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=0\'" />
    <add name="EXPRESSCONNECTION" connectionString="Aor2T0SveXO9o41eG5RleR5rlbhwEAWr9iXLAzzzeejGhTWCzxCZGBr9BABRUWlTU7tf4HAt8PlDAeh+hXsB2J5fzSfKzK1YQO2Q+9CtZEjRcNHNDc6XCg=="
      providerName="Sqlserver" />
    <add name="EXPRESSCONN" connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCrKZQ4DmwFwjGhTWCzxCZGBr9BABRUWlTU7tf4HAt8PlDAeh+hXsB2J5fzSfKzK1YQO2Q+9CtZEjRcNHNDc6XCg=="
      providerName="Sqlserver" />
    <add name="connectionP2" connectionString="Aor2T0SveXPKBbMcC7tSjnV2biNo1UUCLQOZCWJCgdbGhTWCzxCZGIf5D1n4CCQUhcs0nXyC5SR4Ew7+Lt094Kzb8IV1HY40efjsVQ77zv/jAT15afI3tIplCvGTG6YErrb1ZxuqpT0="
      providerName="Sqlserver" />
    <add name="SMVTS_PROD05ConnectionString" connectionString="Data Source=192.168.50.142;Initial Catalog=SMVTS_PROD05;User ID=smvts;Password=ZCBAVTSDHANUSH2010INDIA"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
 

  <appSettings>
  
  
    <!--<add key="bajajusername" value="PICONN1"></add>
    <add key="bajajpswd" value="init1234"></add>-->

    <add key="bajajusername" value="PICONN"></add>
    <add key="bajajpswd" value="Bajaj@1234"></add>

    <add key="Mobile" value="9100777440" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <!--<add key="APPURL" value="https://ib.bajajvts.com/
	/Login"/>-->
    <!--<add key="APPURL" value="http://localhost:49981/Home/Login" />-->
    <!--<add key="APPURL" value="http://202.153.37.190:8832/Home/Login"/>-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
   
    <pages validateRequest="false" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>


  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PRAGATIVTSMVC.Properties.Settings>
      <setting name="PRAGATIVTSMVC_WebReference_VTSAcknowledgementSent_OutService" serializeAs="String">
        <value>http://agni.bajajauto.co.in:9095/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VTS&amp;receiverParty=&amp;receiverService=&amp;interface=VTSAcknowledgementSent_Out&amp;interfaceNamespace=http%3A%2F%2Fbajajauto.co.in%2FVTS%2FIB%2FAcknowledgement</value>
      </setting>
      <setting name="PRAGATIVTSMVC_WebReference1_VTSLRReceipt_OutService" serializeAs="String">
        <value>http://agni.bajajauto.co.in:9095/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VTS&amp;receiverParty=&amp;receiverService=&amp;interface=VTSLRReceipt_Out&amp;interfaceNamespace=http%3A%2F%2Fbajajauto.co.in%2FVTS%2FIB%2FLRReceipt</value>
      </setting>
      <setting name="PRAGATIVTSMVC_LRRECEIPTDEVELOPMENT_VTSLRReceipt_OutService" serializeAs="String">
        <value>http://agni.bajajauto.co.in:9099/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_VTS&amp;receiverParty=&amp;receiverService=&amp;interface=VTSLRReceipt_Out&amp;interfaceNamespace=http%3A%2F%2Fbajajauto.co.in%2FVTS%2FIB%2FLRReceipt</value>
      </setting>
      <setting name="PRAGATIVTSMVC_mahamining_Service" serializeAs="String">
        <value>http://gps.mahamining.com/Service.asmx</value>
      </setting>
    </PRAGATIVTSMVC.Properties.Settings>
  </applicationSettings>

</configuration>
