
@{
    ViewBag.Title = "ConvertPasswords";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<div class="masonry-item col-md-6">
    <div class="bgc-white p-20 bd">
       
        <div class="mT-30">
            <form class="container" id="needs-validation" novalidate>
                
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom03">Enter From ID</label>
                        <input type="text" class="form-control" id="txt_from" placeholder="" required>
                      
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Enter To Id</label>
                        <input type="text" class="form-control" id="txt_to" placeholder="" required>
                        
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Enter Databse</label>
                        <input type="text" class="form-control" id="txt_dbvalue" placeholder="" required>
                       
                    </div>
                </div>
                <button type="button" id="btn_submit" onclick="Submit()"  class="btn btn-primary">Submit</button>
            </form>
           
        </div>
    </div>
</div>
<script>
    function Submit()
    {
        if ($("#txt_from").val() != "" && $("#txt_to").val() != "" && $("#txt_dbvalue").val() != "") {
            $.post("/Home/EncryptPassword", { "FromID": $("#txt_from").val(), "ToID": $("#txt_to").val(), "DBvalue": $("#txt_dbvalue").val() }, function (data) {
                //console.log(dataT);
                
                var dataT = data['data'];

                if (dataT == true) {
                    alert("Success");
                    location.reload();
                }
                else if (dataT == false) {
                    alert("Failed ");
                }
                else {
                    alert(dataT);
                }
            });
        }
        else {
            if($("#txt_from").val() =="")
            {
                alert("Please Enter From Value");
            }
            if ($("#txt_to").val() == "") {
                alert("Please Enter To Value");
            }
            if ($("#txt_dbvalue").val() == "") {
                alert("Please Enter DB Value");
            }
        }
  }
</script>