
@{
    ViewBag.Title = "frm_TrackingNearestVehicles";
    Layout = "~/Views/Shared/Layout2.cshtml";
 }
<div id="load"></div>
<div class="container-fluid">
    <!--<div class="row page-titles">   
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Track Nearest Vehicles</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/frm_GridTrack_Distance">Home</a></li>
                <li class="breadcrumb-item active">Track Nearest Vehicles</li>
            </ol>
        </div>
    </div>-->

    <div class="row" id="divrow">
        <div class="col-lg-3">
             Location :<input type="text" class="form-control" id="txtlocation" />
        </div>
        <div class="col-lg-3">
            Enter Radius(KM)<input type="number"  id="txtradius" class="form-control" />
        </div>
        <div class="col-lg-3">
            <input type="button" style="margin-top:21px" onclick="getlatlng()" value="Track" class="btn btn-primary" />
        </div>
    </div>
    <div class="row" >
        <div id="map"></div>
    </div>
    <div class="card" style="margin-top:15px">
        <div class="box-body">
        </div>
        <div class="card-body">
            <h4 class="card-title">Nearest Vehicles</h4>
            <div class="col-lg-12" style="margin-bottom:10px">
                <div id="gmaps-simple" style="height:73%" class="gmaps">
                </div>
            </div>

        </div>

    </div>
    <div>
    
    </div>
    <div hidden>
        <input type="hidden" id="hilatitude" />
        <input type="hidden" id="hilongitude" />
    </div>
</div>
<script>

    window.onload = function () {

        initMap ();

    }

    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var bounds = new google.maps.LatLngBounds();
    var markersZ = [];
    var icons = {
        Truck: {
            icon: iconBase + 'parking_lot_maps.png'
        },
        Plant: {
            icon: iconBase + 'library_maps.png'
        },
        Port: {
            icon: iconBase + 'info-i_maps.png'
        },
        Vehi: {
            icon: '/Content/icons/placeholder_yellow.png'
        },
        Bus: {
            icon: '/Content/icons/bus.png'
        },
        From: {
            icon: '/Content/icons/placeholder_nu.png'
        },
        To: {
            icon: '/Content/icons/maps-and-flags.png'
        },
        Stopped: {
            icon: '/Content/icons/truck_r.png'
        },
        VehicleMoving: {
            icon: '/Content/icons/green_truck.png'
        },
        Datanotreceiving: {
            icon: '/Content/icons/truck_y.png'
        },
        Dirctions: {
            icon: '/Truck/truck_green_0.png'
        },
    };

    function initMap() {
        $("#load").hide();
        var input = document.getElementById('txtlocation');

        var autocomplete = new google.maps.places.Autocomplete(input);

        var myLatLng = { lat: 23.852464, lng: 78.858390 };

        map = new google.maps.Map(document.getElementById('gmaps-simple'), {
            zoom: 5,
            center: myLatLng,
            gestureHandling: 'greedy'
        });
    }

    function getlatlng() {
     
        var address = document.getElementById('txtlocation').value;
        getLatitudeLongitude(showResult, address)
        //$("#btnshow").show();
        //window.setTimeout(function () {
        //    Showmap();
        //}, 1000);

    }



    function getLatitudeLongitude(callback, address) {
        // alert(address);
        // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
        address = address || 'Ferrol, Galicia, Spain';
        // Initialize the Geocoder
        geocoder = new google.maps.Geocoder();
        if (geocoder) {
            geocoder.geocode({
                'address': address
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    callback(results[0]);
                }
            });
        }
    }


    function showResult(result) {
        $("#load").show();
        //  alert(result.geometry.location.lat(), result.geometry.location.lng())

        var Lat = result.geometry.location.lat();

        var Long = result.geometry.location.lng();

        // alert($("#ddltransporters").val());
        //string RADIUS, string LAT, string LONG, int transporterid
        $.post("/Home/_TrackingNearestVehicles", { "lat": Lat, "lng": Long, "radius": $("#txtradius").val() }, function (data) {
            ALLvehiclesdata(data);
        });

    }







    function ALLvehiclesdata(data) {
    //    $("#load").show();
        var markerss = [];
        var datalength = data['TripData'].length
        var dataT = data['TripData'];
        if (datalength>0)
        {
            $("#load").hide();
       

        var Current_LatLng = { lat: parseFloat(dataT[0].LATITUDE), lng: parseFloat(dataT[0].LONGITUDE) };
        var map = new google.maps.Map(document.getElementById('gmaps-simple'), {
            zoom: 07,
            center: Current_LatLng,
            //mapTypeId: google.maps.MapTypeId.ROADMAP
            gestureHandling: 'greedy'
        });



        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();

        var output = d.getFullYear() + '/' +
            (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day;

        var BUSCOLOR = "";
        for (i = 0; i < datalength; i++) {

            //     alert(dataT[i].COLOR);
            if (dataT[i].COLOR == 'G') {
                BUSCOLOR = '/Truck/truck_green_0.png'
            }
            else if (dataT[i].COLOR == 'R') {
                BUSCOLOR = '/Truck/truck_r.png'
                

            }
            else if (dataT[i].COLOR == 'Y') {
                BUSCOLOR = '/Truck/truck_y.png'
            }
            else {
                BUSCOLOR = '/Truck/truck_r.png'
            }


            //var lattlang = localStorage.getItem("latlan");
            //var pos_segs = lattlang.slice(1, -1).split(', ');
            //var lattitude1 = pos_segs[0];
            //var longitude2 = pos_segs[1];

            marker = new google.maps.Marker({
                position: new google.maps.LatLng(dataT[i].LATITUDE, dataT[i].LONGITUDE),
                icon: BUSCOLOR,
                map: map,
                zoom: 07,
                title: dataT[i].PLACE
            });
            markerss.push(marker);
            setInterval(function () {
                // marker.icon(BUSCOLOR);
                marker.setMap(map);
                //   bounds.extend(marker.position);
                //   markersZ.push(marker);

            }, 5000);
            var MHC = "";
            var AWC = "";
            google.maps.event.addListener(marker, 'click', (function (marker, i) {

                var stringContent = '<div style="color:black"><table>'
                     + '<tr><td><b>Vehicle Number:</b></td><td>' + dataT[i].VEHICLE_NO
                                                      + '<tr><td><b>Date:</b></td><td>' + dataT[i].TRIPDATA_TRIPDATE
                                                       + '<tr><td><b>Speed:</b></td><td>' + dataT[i].SPEED
                                                        + '<tr><td><b>Address:</b></td><td>' + dataT[i].PLACE
                                                       + '<tr><td><b>Driver Name:</b></td><td>' + dataT[i].DRIVER_NAME
                                                    + '</td></tr></table></div>';

                return function () {
                    infowindow.setContent(stringContent);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        var circle = new google.maps.Circle({
            map: map,
            center: new google.maps.LatLng($("#hilatitude").val(), $("#hilongitude").val()),
            radius: $("#txtradius").val() * 1000,
            fillColor: '#AA0000'
        });
        circle.bindTo('center', marker, 'position');
        //   var markerCluster = new MarkerClusterer(map, markerss, { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
    }
    else{
            alert("no vehicles found..");
            initMap();
    }

    }


</script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDGpQNLosD_MiVaVY4pi4SX3vqwv19Exw8&libraries=places"></script>
